/* h4 and p tags automatically have WAY too much margin, 
rather than just changing it to another tag,
I formatted the margins */
h4 {
    margin: 5px;
}

p {
    margin: 5px;
}

body {
    margin: 0;
}

header {
    margin: 0px;
    text-align: center;
    background-color: maroon;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: .4rem;
}

main {
    margin: .5rem;
}